@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@theme {
  /* Colors setup for v4 */
  --color-fjord-bg: #EAE6DF;
  --color-fjord-dark: #2A231D;
  --color-fjord-accent: #8C3E32;
  --color-fjord-line: #D1CDC5;

  /* Font setup */
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}

/* Yahan hum default styles set kar rahe hain */
@layer base {
  body {
    background-color: var(--color-fjord-bg);
    color: var(--color-fjord-dark);
  }
}